[submodule "manual"]
	path = manual
	url = https://github.com/kmilo17pet/quarkts-usermanual.git
[submodule "src/os"]
	path = src/os
	url = https://github.com/TECREA/QuarkTS.git
	branch = kernel
[submodule "doc/stylesheet"]
	path = doc/stylesheet
	url = https://github.com/jothepro/doxygen-awesome-css.git
